.title-adopta {
  font-size: 2.25rem;
  font-weight: 700;
}

.desc-adopta {
  width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 1.25rem;
}

.formulario-container {
  background-color: #fff5f0;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h2 {
  font-size: 18px;
  color: #00d9ff;
  margin-bottom: 20px !important;
  text-align: left;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
  color: #333;
  text-align: left !important;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

input:focus,
textarea:focus {
  border-color: #00aaff;
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #00aaff;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #007acc;
}

.requerido {
  color: red;
}

.container-adopta {
  margin-bottom: 100px;
}
